<div style="border-color:green;border-style: solid;">
  <p>
    mod2host works!
  </p>
  <p>
    Servie Id: {{svc1Id}}
  </p>
  <button (click)="gotoMod1()">Goto Module 1</button>
  <button (click)="gotoMod2()">Goto Module 2</button>
  <div></div>
  <button (click)="gotoMod1Comp1()">Goto Module 1 comp 1</button>
  <button (click)="gotoMod1Comp2()">Goto Module 1 comp 2</button>
  <div></div>
  <button (click)="gotoMod2Comp1()">Goto Module 2 comp 1</button>
  <button (click)="gotoMod2Comp2()">Goto Module 2 comp 2</button>
  <div></div>
  <button (click)="gotoComp1()">Goto Comp 1</button>
  <button (click)="gotoComp2()">Goto Comp 2</button>
  <router-outlet></router-outlet>
</div>